### **Exercise**

Parse the Mulliken charges with hydrogens summed into heavy atoms

In [14]:
import re
import pandas as pd

In [2]:
start_pat = re.compile(r'Mulliken charges with hydrogens summed into heavy atoms:')
end_pat = re.compile(r'Electronic spatial extent')

In [3]:
with open("tddft.log") as f:
    more_lines = f.readlines()

In [4]:
print(more_lines[:5])

[' Entering Gaussian System, Link 0=g16\n', ' Input=tddft.com\n', ' Output=tddft.log\n', ' Initial command:\n', ' /g16/l1.exe "/Gau-348183.inp" -scrdir="/tddfttoluene/"\n']

In [5]:
for idx, single_line in enumerate(more_lines):
    if re.match(start_pat, single_line.strip()):
        break

In [6]:
print(idx)

1456

In [7]:
# the initial two lines after idx are not needed from data collection perspective
idx = idx +2

In [8]:
single_line = more_lines[idx]
print(single_line)

     1  C   -0.465360

In [9]:
parsed_lines = []
while not(re.match(end_pat, single_line.strip())):
    parsed_lines.append(single_line.strip())
    idx += 1
    single_line = more_lines[idx]

In [12]:
clean_line = parsed_lines[0].strip().split()
print(clean_line)

['1', 'C', '-0.465360']

In [13]:
data = []
for line in parsed_lines:
    clean_line = line.strip().split()
    data.append(
          {"number": int(clean_line[0]),
         "atom": clean_line[1],
         "charge": float(clean_line[2])
     }
      )

In [15]:
pd.DataFrame(data)

    number atom    charge
0        1    C -0.465360
1        2    C -0.010817
2        3    C  0.014265
3        4    C -0.067333
4        5    C -0.066472
5        6    C  0.079476
6        7    C -0.066472
7        8    C -0.067333
8        9    C  0.078296
9       11    C  0.030691
10      12    C  0.014265
11      13    C  0.078295
12      14    C  0.079477
13      15    C  0.031101
14      17    C  0.031101
15      18    C -0.010816
16      21    C  0.030691
17      24    C -0.465361
18      27   Si  0.902314
19      28    C -0.174283
20      29    C -0.177593
21      30    C -0.174286
22      31   Si  0.902315
23      32    C -0.177592
24      33    C -0.174281
25      34    C -0.174289